body {
  font-weight: bold;
  background-color: black;
  font-family: tahoma;
  color: #f2f2f2;
  overflow-x: hidden;
  height: 1310px;
}

.specs .img-wrapper {
  position: relative;
}

.specs .img-wrapper .absolute {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: -1;
}

.info .img-wrapper {
  position: relative;
}
.info .img-wrapper .absolute {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.info .max-vh-80 {
  max-width: 80vh;
}
p {
  width: 100%;
}
.lead {
  padding-left: 20px;
}
@media (max-width: 600px) {
  .specs .img-wrapper {
    display: none;
  }
}
